@import 'tailwindcss';

@theme {
  --color-kfc: #e3012b;
  --font-friz: "Friz Quadrata Std", var(--font-serif);
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('/fonts/FrizQuadrataStd-Italic.woff2') format('woff2'),
    url('/fonts/FrizQuadrataStd-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('/fonts/FrizQuadrataStd-BoldItalic.woff2') format('woff2'),
    url('/fonts/FrizQuadrataStd-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('/fonts/FrizQuadrataStd-Bold.woff2') format('woff2'),
    url('/fonts/FrizQuadrataStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('/fonts/FrizQuadrataStd.woff2') format('woff2'),
    url('/fonts/FrizQuadrataStd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Friz Quadrata Std';
  src: url('/fonts/FrizQuadrataStd-Italic.woff2') format('woff2'),
    url('/fonts/FrizQuadrataStd-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

.map-overlay-control {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.restaurant-popup {
  z-index: 30;
}

.restaurant-popup .maplibregl-popup-content {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.restaurant-popup .maplibregl-popup-close-button {
  display: flex;
  width: 29px;
  height: 29px;
  align-items: center;
  justify-content: center;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 0 4px 0 4px;
  background: #fff;
  color: #333;
  font-size: 18px;
  line-height: 1;
}

.restaurant-popup .maplibregl-popup-close-button:hover {
  background-color: rgb(0 0 0 / 5%);
}

.restaurant-popup .maplibregl-popup-close-button:focus-visible {
  box-shadow: 0 0 2px 2px #0096ff;
  outline: 0;
}

* {
  box-sizing: border-box;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@media (min-width: 1024px) {
  .maplibregl-ctrl-top-left,
  .maplibregl-ctrl-bottom-left {
    left: calc((100% - 64rem) / 2) !important;
  }

  .maplibregl-ctrl-top-right,
  .maplibregl-ctrl-bottom-right {
    right: calc((100% - 64rem) / 2) !important;
  }

  .map-controls-right {
    right: calc((100% - 64rem) / 2 + 10px);
  }
}

@media (max-width: 1023px) {
  .map-controls-right {
    right: 10px;
  }
}
